<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.crm.mapper.LicenseApplyMapper">

    <resultMap type="LicenseApply" id="LicenseApplyResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="custCode" column="cust_code"/>
        <result property="custName" column="cust_name"/>
        <result property="useTime" column="use_time"/>
        <result property="purposes" column="purposes"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="ownerId" column="owner_id"/>
        <result property="ownerName" column="owner_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="sharedId" column="shared_id"/>
        <result property="sharedDeptId" column="shared_dept_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectLicenseApplyVo">
        select tla.id,
               tla.code,
               tla.name,
               tla.cust_code,
               tla.cust_name,
               tla.use_time,
               tla.purposes,
               tla.dept_id,
               sd.dept_name,
               tla.owner_id,
               su.nick_name,
               su.user_name owner_name,
               tla.shared_id,
               tla.shared_dept_id,
               tla.create_by,
               tla.create_time,
               tla.update_by,
               tla.update_time,
               tla.remark
        from t_license_apply tla
                 left join remote_db.sys_user su on tla.owner_id = su.user_id
                 left join remote_db.sys_dept sd on sd.dept_id = tla.dept_id
    </sql>

    <select id="selectLicenseApplyList" parameterType="LicenseApply" resultMap="LicenseApplyResult">
        <include refid="selectLicenseApplyVo"/>
        <where>
            <if test="code != null  and code != ''">and tla.code = #{code}</if>
            <if test="name != null  and name != ''">and tla.name like concat('%', #{name}, '%')</if>
            <if test="custName != null ">and tla.cust_name like concat('%', #{custName}, '%')</if>
            <if test="purposes != null  and purposes != ''">and tla.purposes = #{purposes}</if>
            <if test="deptId != null ">and tla.dept_id = #{deptId}</if>
            <if test="ownerId != null ">and tla.owner_id = #{ownerId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and tla.create_time between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
        </where>
    </select>

    <select id="selectLicenseApplyById" parameterType="Long" resultMap="LicenseApplyResult">
        <include refid="selectLicenseApplyVo"/>
        where tla.id = #{id}
    </select>

    <insert id="insertLicenseApply" parameterType="LicenseApply" useGeneratedKeys="true" keyProperty="id">
        insert into t_license_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="custCode != null">cust_code,</if>
            <if test="custName != null">cust_name,</if>
            <if test="useTime != null">use_time,</if>
            <if test="purposes != null and purposes != ''">purposes,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="sharedId != null">shared_id,</if>
            <if test="sharedDeptId != null">shared_dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="custCode != null">#{custCode},</if>
            <if test="custName != null">#{custName},</if>
            <if test="useTime != null">#{useTime},</if>
            <if test="purposes != null and purposes != ''">#{purposes},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="sharedId != null">#{sharedId},</if>
            <if test="sharedDeptId != null">#{sharedDeptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateLicenseApply" parameterType="LicenseApply">
        update t_license_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="custCode != null">cust_code = #{custCode},</if>
            <if test="custName != null">cust_name = #{custName},</if>
            <if test="useTime != null">use_time = #{useTime},</if>
            <if test="purposes != null and purposes != ''">purposes = #{purposes},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="sharedId != null">shared_id = #{sharedId},</if>
            <if test="sharedDeptId != null">shared_dept_id = #{sharedDeptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLicenseApplyById" parameterType="Long">
        delete
        from t_license_apply
        where id = #{id}
    </delete>

    <delete id="deleteLicenseApplyByIds" parameterType="String">
        delete from t_license_apply where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getLicApplyByCode" parameterType="String" resultMap="LicenseApplyResult">
        select * from t_license_apply tla where tla.code  = #{code}
    </select>
    <insert id="saveAndUpdate" parameterType="LicenseSaveAndUpReq">
        insert into t_license_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="custCode != null">cust_code,</if>
            <if test="custName != null">cust_name,</if>
            <if test="useTime != null">use_time,</if>
            <if test="purposes != null and purposes != ''">purposes,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="sharedId != null">shared_id,</if>
            <if test="sharedDeptId != null">shared_dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="custCode != null">#{custCode},</if>
            <if test="custName != null">#{custName},</if>
            <if test="useTime != null">#{useTime},</if>
            <if test="purposes != null and purposes != ''">#{purposes},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="sharedId != null">#{sharedId},</if>
            <if test="sharedDeptId != null">#{sharedDeptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim prefix="" suffixOverrides=",">
            <if test="code != null and code != ''">code =#{code},</if>
            <if test="name != null and name != ''">name =#{name},</if>
            <if test="custCode != null">cust_code = #{custCode},</if>
            <if test="custName != null">cust_name = #{custName},</if>
            <if test="useTime != null">use_time =#{useTime},</if>
            <if test="purposes != null and purposes != ''">purposes = #{purposes},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
    </insert>
</mapper>