<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.crm.mapper.OpportunityUnitedMapper">

    <resultMap type="OpportunityUnited" id="OpportunityUnitedResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="currentStage" column="current_stage"/>
        <result property="name" column="name"/>

        <result property="custId" column="cust_id"/>
        <result property="custName" column="cust_name"/>

        <result property="ownerDeptId" column="dept_id"/>
        <result property="ownerDeptName" column="dept_name"/>
        <result property="ownerId" column="owner_id"/>
        <result property="ownerName" column="owner_name"/>
        <result property="nickName" column="nick_name"/>

        <result property="sharedId" column="shared_id"/>
        <result property="sharedDeptId" column="shared_dept_id"/>

        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>

        <!--属性中拎出来用来展示-->
        <result property="preSignDate" column="preSignDate"/>
        <result property="preTenderDate" column="preTenderDate"/>
        <result property="preContractVal" column="preContractVal"/>

        <!--select子查询， column 传给子查询的参数-->
        <!--        <collection property="properties" ofType="OpportunityProperty" select="queryProperties"-->
        <!--                    column="code"/>-->
    </resultMap>

    <sql id="selectOpportunityVo">
        select id,
               code,
               current_stage,
               name,
               cust_id,
               dept_id,
               owner_id,
               shared_id,
               shared_dept_id,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from t_opportunity
    </sql>
    <sql id="selectOpportunityPropertyVo">
        select id,
               property_label,
               property_key,
               property_val,
               opportunity_code,
               model,
               status,
               data_type
        from t_opportunity_property
    </sql>
    <sql id="select4OpportunityUnitedVo">
        select tc.id,
               tc.code,
               tc.current_stage,
               tc.name,
               tc.cust_id,
               tc2.company_name                                                             cust_name,
               tc.dept_id,
               tc.owner_id,
               su.user_name                                                                 owner_name,
               su.nick_name                                                                 nick_name,
               tc.shared_id,
               tc.shared_dept_id,
               tc.create_time,
               tc.update_time,
               tc.remark,
               max(case when top.property_key = 'preTenderDate' then top.property_val end)  preTenderDate,
               max(case when top.property_key = 'preSignDate' then top.property_val end)    preSignDate,
               max(case when top.property_key = 'preContractVal' then top.property_val end) preContractVal
        from t_opportunity tc
                 left join t_company tc2 on tc.cust_id = tc2.id
                 left join t_opportunity_property top on (top.status = '0' and tc.code = top.opportunity_code)
                 left join remote_db.sys_dept sd on tc.dept_id = sd.dept_id
                 left join remote_db.sys_user su on su.user_id = tc.owner_id
    </sql>

    <select id="queryProperties" parameterType="String"
            resultMap="com.highgo.crm.mapper.OpportunityPropertyMapper.OpportunityPropertyResult">
        <include refid="selectOpportunityPropertyVo"/>
        where opportunity_code = #{code}
    </select>
    <select id="selectOpportunityList" parameterType="OpportunityUnited" resultMap="OpportunityUnitedResult">
        <!--        <include refid="selectOpportunityVo"/>-->
        <include refid="select4OpportunityUnitedVo"/>
        <where>
            <if test="code != null  and code != ''">and tc.code like concat('%', #{code}, '%')</if>
            <if test="name != null  and name != ''">and tc.name like concat('%', #{name}, '%')</if>
            <if test="createBy != null  and createBy != ''">and tc.create_by like concat('%', #{createBy}, '%')</if>
            <if test="updateTime != null ">and tc.update_time &lt; #{updateTime}</if>
            <if test="custName != null ">and tc2.company_name like concat('%', #{custName}, '%')</if>
            <if test="params.deptIds != null and params.deptIds !=''">
                and tc.dept_id in
                <foreach collection="params.deptIds.split(',')" separator="," item="deptId" index="index" close=")"
                         open="(">
                    #{deptId}
                </foreach>
            </if>
            <if test="params.createBys != null and params.createBys !=''">
                and tc.create_by in
                <foreach collection="params.createBys.split(',')" separator="," item="createBy" index="index" close=")"
                         open="(">
                    #{createBy}
                </foreach>
            </if>
            <if test="params.ownerIds != null and params.ownerIds !=''">
                and tc.owner_id in
                <foreach collection="params.ownerIds.split(',')" separator="," item="ownerId" index="index" close=")"
                         open="(">
                    #{ownerId}
                </foreach>
            </if>
            <if test="params.stages != null and params.stages !=''">
                and tc.current_stage in
                <foreach collection="params.stages.split(',')" separator="," item="stage" index="index" close=")"
                         open="(">
                    #{stage}
                </foreach>
            </if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''">
                and tc.update_time between #{params.beginUpdateDate} and #{params.endUpdateDate}
            </if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''">
                and tc.create_time between #{params.beginCreateDate} and #{params.endCreateDate}
            </if>
            <!--下面的是商机必须已经设置过的属性-->
            <if test="params.properties != null and params.properties != ''">
                and find_in_set(top.property_key,#{params.properties})
            </if>
            <if test="(params.sharedId != null and params.sharedId != '') or (params.sharedDeptId != null and params.sharedDeptId != '') or (params.crmDataScope != null and params.crmDataScope != '')">
                and
                <trim prefixOverrides="and" prefix="(" suffix=")">
                    <!--下面的自己权限内的判读-->
                    ${params.crmDataScope}
                    <!--下面的是共享过来的判读-->
                    <if test="params.sharedId != null and params.sharedId != ''">
                        <if test="params.crmDataScope != null and params.crmDataScope != ''">
                            or
                        </if>
                        find_in_set( #{params.sharedId} , tc.shared_id)
                    </if>
                    <if test="params.sharedDeptId != null and params.sharedDeptId != ''">
                        <if test="(params.crmDataScope != null and params.crmDataScope != '') or (params.sharedId != null and params.sharedId != '')">
                            or
                        </if>
                        find_in_set( #{params.sharedDeptId} , tc.shared_dept_id)
                    </if>
                </trim>
            </if>
        </where>
        group by tc.code
    </select>
    <resultMap type="OpportunityUnitedExportFiled" id="OpportunityUnitedExportFiledResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="currentStage" column="current_stage"/>
        <result property="name" column="name"/>

        <result property="custId" column="cust_id"/>
        <result property="custName" column="cust_name"/>

        <result property="ownerDeptId" column="dept_id"/>
        <result property="ownerDeptName" column="dept_name"/>
        <result property="ownerId" column="owner_id"/>
        <result property="ownerName" column="owner_name"/>
        <result property="nickName" column="nick_name"/>

        <result property="sharedId" column="shared_id"/>
        <result property="sharedDeptId" column="shared_dept_id"/>

        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>

        <!--属性中拎出来用来展示-->
        <result property="preSignDate" column="preSignDate"/>
        <result property="preTenderDate" column="preTenderDate"/>
        <result property="preContractVal" column="preContractVal"/>
    </resultMap>
    <select id="selectOppoList4Export" parameterType="OpportunityUnitedExportFiled"
            resultMap="OpportunityUnitedExportFiledResult">
        <!--        <include refid="selectOpportunityVo"/>-->
        <include refid="select4OpportunityUnitedVo"/>
        <where>
            <if test="code != null  and code != ''">and tc.code like concat('%', #{code}, '%')</if>
            <if test="name != null  and name != ''">and tc.name like concat('%', #{name}, '%')</if>
            <if test="createBy != null  and createBy != ''">and tc.create_by like concat('%', #{createBy}, '%')</if>
            <if test="updateTime != null ">and tc.update_time &lt; #{updateTime}</if>
            <if test="custName != null ">and tc2.company_name like concat('%', #{custName}, '%')</if>
            <if test="params.deptIds != null and params.deptIds !=''">
                and tc.dept_id in
                <foreach collection="params.deptIds.split(',')" separator="," item="deptId" index="index" close=")"
                         open="(">
                    #{deptId}
                </foreach>
            </if>
            <if test="params.createBys != null and params.createBys !=''">
                and tc.create_by in
                <foreach collection="params.createBys.split(',')" separator="," item="createBy" index="index" close=")"
                         open="(">
                    #{createBy}
                </foreach>
            </if>
            <if test="params.ownerIds != null and params.ownerIds !=''">
                and tc.owner_id in
                <foreach collection="params.ownerIds.split(',')" separator="," item="ownerId" index="index" close=")"
                         open="(">
                    #{ownerId}
                </foreach>
            </if>
            <if test="params.stages != null and params.stages !=''">
                and tc.current_stage in
                <foreach collection="params.stages.split(',')" separator="," item="stage" index="index" close=")"
                         open="(">
                    #{stage}
                </foreach>
            </if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''">
                and tc.update_time between #{params.beginUpdateDate} and #{params.endUpdateDate}
            </if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''">
                and tc.create_time between #{params.beginCreateDate} and #{params.endCreateDate}
            </if>
            <!--下面的是商机必须已经设置过的属性-->
            <if test="params.properties != null and params.properties != ''">
                and find_in_set(top.property_key,#{params.properties})
            </if>
            <if test="(params.sharedId != null and params.sharedId != '') or (params.sharedDeptId != null and params.sharedDeptId != '') or (params.crmDataScope != null and params.crmDataScope != '')">
                and
                <trim prefixOverrides="and" prefix="(" suffix=")">
                    <!--下面的自己权限内的判读-->
                    ${params.crmDataScope}
                    <!--下面的是共享过来的判读-->
                    <if test="params.sharedId != null and params.sharedId != ''">
                        or find_in_set( #{params.sharedId} , tc.shared_id)
                    </if>
                    <if test="params.sharedDeptId != null and params.sharedDeptId != ''">
                        or find_in_set( #{params.sharedDeptId} , tc.shared_dept_id)
                    </if>
                </trim>
            </if>
        </where>
        group by tc.code
    </select>
    <select id="selectOpportunityById" parameterType="Long" resultMap="OpportunityUnitedResult">
        <include refid="selectOpportunityVo"/>
        where id = #{id}
    </select>

    <insert id="insertOpportunity" parameterType="OpportunityUnited" useGeneratedKeys="true" keyProperty="id">
        insert into t_opportunity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="custId != null">cust_id,</if>
            <if test="ownerDeptId != null">dept_id,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="sharedId != null">shared_id,</if>
            <if test="sharedDeptId != null">shared_dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="currentStage != null">current_stage,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="custId != null">#{custId},</if>
            <if test="ownerDeptId != null">#{ownerDeptId},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="sharedId != null">#{sharedId},</if>
            <if test="sharedDeptId != null">#{sharedDeptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="currentStage != null">#{currentStage},</if>
        </trim>
    </insert>

    <update id="updateOpportunity" parameterType="OpportunityUnited">
        update t_opportunity
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="custId != null">cust_id = #{custId},</if>
            <if test="ownerDeptId != null">dept_id = #{ownerDeptId},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="sharedId != null">shared_id = #{sharedId},</if>
            <if test="sharedDeptId != null">shared_dept_id = #{sharedDeptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="currentStage != null">current_stage = #{currentStage},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateOpportunityByCode" parameterType="OpportunityUnited">
        update t_opportunity
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="custId != null">cust_id = #{custId},</if>
            <if test="ownerDeptId != null">dept_id = #{ownerDeptId},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="sharedId != null">shared_id = #{sharedId},</if>
            <if test="sharedDeptId != null">shared_dept_id = #{sharedDeptId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="currentStage != null">current_stage = #{currentStage},</if>
        </trim>
        where code = #{code}
    </update>
    <delete id="deleteOpportunityById" parameterType="Long">
        delete
        from t_opportunity
        where id = #{id}
    </delete>

    <delete id="deleteOpportunityByIds" parameterType="String">
        delete from t_opportunity where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryOpportunityInfoByCode" parameterType="String" resultMap="OpportunityUnitedResult">
        <include refid="selectOpportunityVo"/>
        where code = #{code}
    </select>
    <resultMap type="OpportunitySoftwareOperation" id="OpportunitySoftwareOperationResult">
        <result property="id" column="id"/>
        <result property="opportunityCode" column="opportunity_code"/>
        <result property="applicationId" column="application_id"/>
        <result property="applicationName" column="application_name"/>
        <result property="dbBase" column="db_base"/>
        <result property="isvNeedAdapted" column="isv_need_adapted"/>
        <result property="targetAdaptedProgress" column="target_adapted_progress"/>
        <result property="currentAdaptedProgress" column="current_adapted_progress"/>
        <result property="operationalId" column="operational_id"/>
        <result property="operationalName" column="operational_name"/>
        <result property="operationalTender" column="operational_tender"/>
        <result property="operationalSupportDb" column="operational_support_db"/>
        <result property="isvId" column="isv_id"/>
        <result property="isv" column="isv"/>
        <result property="category" column="category"/>
        <result property="categoryL1" column="category_l1"/>
        <result property="categoryL2" column="category_l2"/>
        <result property="categoryL3" column="category_l3"/>
        <result property="categoryL4" column="category_l4"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <select id="querySoftwareOperationByCode" parameterType="String"
            resultMap="OpportunitySoftwareOperationResult">
        select tc.company_name isv,
               tc.id           isv_id,
               ta.category,
               ta.category_l1,
               ta.category_l2,
               ta.category_l3,
               ta.category_l4,
               toso.*
        from t_opportunity_software_operation toso
                 left join t_application ta on toso.application_id = ta.id
                 left join t_company tc on ta.isv = tc.id and tc.business_scope like '%ISV%'
        where toso.opportunity_code = #{code}
    </select>
    <select id="queryCompanyByOppCode" parameterType="String"
            resultMap="com.highgo.crm.mapper.CompanyMapper.CompanyResult">
        select tc.*
        from t_company tc,
             t_opportunity to2
        where tc.id = to2.cust_id
          and to2.code = #{oppCode}
    </select>
    <select id="queryPolicyByOppCode" parameterType="String"
            resultMap="com.highgo.crm.mapper.OpportunityPolicyMapper.OpportunityPolicyResult">
        select opportunity_code, policy_id, policy_name, release_date
        from t_opportunity_policy
        where opportunity_code = #{oppCode}
    </select>
    <select id="queryAdvanceByOppCode" parameterType="String"
            resultMap="com.highgo.crm.mapper.OpportunityAdvancesMapper.OpportunityAdvancesResult">
        select id, opportunity_code, stage, advances, advances_date, creator, create_time
        from t_opportunity_advances
        where opportunity_code = #{oppCode}
        order by create_time desc, advances_date desc
    </select>
    <select id="queryCostByOppCode" parameterType="String"
            resultMap="com.highgo.crm.mapper.OpportunityCostMapper.OpportunityCostResult">
        select id,
               opportunity_code,
               cost,
               input_user_id,
               input_user_name,
               use_time,
               reason,
               create_time,
               creator_id,
               create_time,
               create_by,
               update_by,
               update_time
        from t_opportunity_cost
        where opportunity_code = #{oppCode}
        order by create_time desc, update_time desc
    </select>
    <select id="queryCompetitorByOppCode" parameterType="String"
            resultMap="com.highgo.crm.mapper.OpportunityCompetitorMapper.OpportunityCompetitorResult">
        select id,
               opportunity_code,
               competitor_id,
               competitor_name,
               product,
               unit_price,
               advantage,
               has_same_advantage,
               memo,
               tender_price,
               tender_total_price,
               create_time,
               update_time
        from t_opportunity_competitor
        where opportunity_code = #{oppCode}
        order by create_time desc, update_time desc
    </select>
    <select id="queryQuotationByOppCode" parameterType="String"
            resultMap="com.highgo.crm.mapper.OpportunityQuotationMapper.OpportunityQuotationResult">
        select id,
               opportunity_code,
               quotation_json,
               opportunity_stage,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from t_opportunity_quotation
        where opportunity_code = #{oppCode}
        order by create_time desc, update_time desc
    </select>
    <select id="querySupportByOppCode" parameterType="String"
            resultMap="com.highgo.crm.mapper.OpportunitySupportMapper.OpportunitySupportResult">
        select id,
               opportunity_code,
               opportunity_stage,
               support_id,
               support_name,
               support_val,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from t_opportunity_support
        where opportunity_code = #{oppCode}
        order by create_time desc, update_time desc
    </select>
    <resultMap type="OpportunityContactInfo" id="OpportunityContactInfoResult">
        <result property="keyId" column="key_id"/>
        <result property="opportunityCode" column="opportunity_code"/>
        <result property="contactId" column="contact_id"/>
        <result property="exposure" column="exposure"/>
        <result property="relationship" column="relationship"/>
        <result property="intention" column="intention"/>
        <result property="sideVisited" column="side_visited"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="company" column="company"/>
        <result property="companyCode" column="company_code"/>
        <result property="companyProperty" column="properties"/>
        <result property="roleInOppo" column="role_in_oppo"/>
        <result property="roleInCompany" column="role_in_company"/>
        <result property="postInCompany" column="post_in_company"/>
        <result property="deptInCompany" column="dept_in_company"/>
        <result property="priPhone" column="pri_phone"/>
        <result property="secPhone" column="sec_phone"/>
        <result property="priEmail" column="pri_email"/>
        <result property="secEmail" column="sec_email"/>
        <result property="addr" column="addr"/>
        <result property="category" column="category"/>
        <result property="sourceType" column="source_type"/>
        <result property="remark" column="remark"/>
        <result property="sourceId" column="source_id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="ownerName" column="owner_Name"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_Name"/>
        <result property="createId" column="create_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateId" column="update_id"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="queryContactsByOppCode" parameterType="String" resultMap="OpportunityContactInfoResult">
        select tc2.properties,
               tc.*,
               toci.*
        from t_opportunity_contact_info toci
                 left join t_contact tc
                           on tc.id = toci.contact_id and tc.source_id = toci.opportunity_code
                 left join t_company tc2 on tc.company_code = tc2.code
        where tc.source_type = 'OPPO'
          and tc.source_id = #{oppCode}
        order by tc.create_time desc, tc.update_time desc
    </select>
    <insert id="insertOpportunityContact" parameterType="OpportunityContactInfo" useGeneratedKeys="true"
            keyProperty="keyId">
        insert into t_opportunity_contact_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="keyId != null">key_id,</if>
            <if test="opportunityCode != null">opportunity_code,</if>
            <if test="contactId != null">contact_id,</if>
            <if test="exposure != null">exposure,</if>
            <if test="relationship != null">relationship,</if>
            <if test="intention != null">intention,</if>
            <if test="sideVisited != null">side_visited,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="keyId != null">#{keyId},</if>
            <if test="opportunityCode != null">#{opportunityCode},</if>
            <if test="contactId != null">#{contactId},</if>
            <if test="exposure != null">#{exposure},</if>
            <if test="relationship != null">#{relationship},</if>
            <if test="intention != null">#{intention},</if>
            <if test="sideVisited != null">#{sideVisited},</if>
        </trim>
    </insert>
    <update id="updateOpportunityContact" parameterType="OpportunityContactInfo">
        update t_opportunity_contact_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="opportunityCode != null">opportunity_code = #{opportunityCode},</if>
            <if test="contactId != null">contact_id = #{contactId},</if>
            <if test="exposure != null">exposure=#{exposure},</if>
            <if test="relationship != null">relationship=#{relationship},</if>
            <if test="intention != null">intention=#{intention},</if>
            <if test="sideVisited != null">side_visited=#{sideVisited},</if>
        </trim>
        where key_id = #{keyId}
    </update>
    <delete id="deleteOpportunityContactByKeyId" parameterType="Long">
        delete
        from t_opportunity_contact_info
        where key_id = #{keyId}
    </delete>
    <update id="transferByCodes" parameterType="OpportunityTransferReq">
        update t_opportunity
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="remark != null">remark = concat_ws(';',remark,#{remark}),</if>
        </trim>
        where code in
        <foreach item="code" collection="selectedCodes" open="(" separator="," close=")">
            #{code}
        </foreach>
    </update>
    <update id="deleteOppoShareByCode" parameterType="OpportunityUnited">
        update t_opportunity
        set shared_id = replace(shared_id, concat(',', #{sharedId}), '')
        where code = #{code}
    </update>
    <update id="addOppoShareByCode" parameterType="OpportunityUnited">
        update t_opportunity
        set shared_id = concat_ws(',', shared_id, #{sharedId})
        where code = #{code}
    </update>
</mapper>