<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.crm.mapper.OpportunityQuotationMapper">

    <resultMap type="OpportunityQuotation" id="OpportunityQuotationResult">
        <result property="id"    column="id"    />
        <result property="opportunityCode"    column="opportunity_code"    />
        <result property="quotationJson"    column="quotation_json"    />
        <result property="opportunityStage"    column="opportunity_stage"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectOpportunityQuotationVo">
        select id, opportunity_code, quotation_json, opportunity_stage, create_by, create_time, update_by, update_time, remark from t_opportunity_quotation
    </sql>

    <select id="selectOpportunityQuotationList" parameterType="OpportunityQuotation" resultMap="OpportunityQuotationResult">
        <include refid="selectOpportunityQuotationVo"/>
        <where>
            <if test="opportunityCode != null  and opportunityCode != ''"> and opportunity_code = #{opportunityCode}</if>
            <if test="quotationJson != null  and quotationJson != ''"> and quotation_json = #{quotationJson}</if>
            <if test="opportunityStage != null  and opportunityStage != ''"> and opportunity_stage = #{opportunityStage}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>

    <select id="selectOpportunityQuotationById" parameterType="Long" resultMap="OpportunityQuotationResult">
        <include refid="selectOpportunityQuotationVo"/>
        where id = #{id}
    </select>

    <insert id="insertOpportunityQuotation" parameterType="OpportunityQuotation">
        insert into t_opportunity_quotation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="opportunityCode != null and opportunityCode != ''">opportunity_code,</if>
            <if test="quotationJson != null">quotation_json,</if>
            <if test="opportunityStage != null and opportunityStage != ''">opportunity_stage,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="opportunityCode != null and opportunityCode != ''">#{opportunityCode},</if>
            <if test="quotationJson != null">#{quotationJson},</if>
            <if test="opportunityStage != null and opportunityStage != ''">#{opportunityStage},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateOpportunityQuotation" parameterType="OpportunityQuotation">
        update t_opportunity_quotation
        <trim prefix="SET" suffixOverrides=",">
            <if test="opportunityCode != null and opportunityCode != ''">opportunity_code = #{opportunityCode},</if>
            <if test="quotationJson != null">quotation_json = #{quotationJson},</if>
            <if test="opportunityStage != null and opportunityStage != ''">opportunity_stage = #{opportunityStage},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOpportunityQuotationById" parameterType="Long">
        delete from t_opportunity_quotation where id = #{id}
    </delete>

    <delete id="deleteOpportunityQuotationByIds" parameterType="String">
        delete from t_opportunity_quotation where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>