<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.crm.mapper.OpportunityUnitedMapper">

    <resultMap type="OpportunityUnited" id="OpportunityUnitedResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="currentStage" column="current_stage"/>
        <result property="name" column="name"/>

        <result property="custId" column="cust_id"/>
        <result property="custName" column="cust_name"/>

        <result property="ownerDeptId" column="dept_id"/>
        <result property="ownerDeptName" column="dept_name"/>
        <result property="ownerId" column="owner_id"/>
        <result property="ownerName" column="owner_name"/>

        <result property="sharedId" column="shared_id"/>
        <result property="sharedDeptId" column="shared_dept_id"/>

        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>

        <!--属性中拎出来用来展示-->
        <result property="preSignedTime" column="preSignedTime"/>
        <result property="tenderTime" column="tenderTime"/>
        <result property="preContractAmount" column="preContractAmount"/>

        <!--select子查询， column 传给子查询的参数-->
<!--        <collection property="properties" ofType="OpportunityProperty" select="queryProperties"-->
<!--                    column="code"/>-->
    </resultMap>

    <sql id="selectOpportunityVo">
        select id,code,current_stage,name,cust_id,dept_id,owner_id,shared_id,shared_dept_id,
               create_by,create_time,update_by,update_time,remark
        from t_opportunity
    </sql>
    <sql id="selectOpportunityPropertyVo">
        select id, property_label, property_key, property_val, opportunity_code, model, status, data_type
        from t_opportunity_property
    </sql>
    <sql id="select4OpportunityUnitedVo">
        select
            tc.id,tc.code,tc.current_stage,tc.name,
            tc.cust_id,tc2.company_name cust_name,
            tc.dept_id,tc.owner_id,su.nick_name owner_name,
            tc.shared_id,tc.shared_dept_id,
            tc.create_time,tc.update_time,tc.remark,
            max(case when top.property_key = 'tenderTime' then top.property_val end) tenderTime,
            max(case when top.property_key = 'preSignedTime' then top.property_val end) preSignedTime,
            max(case when top.property_key = 'preContractAmount' then top.property_val end) preContractAmount
        from
            t_opportunity tc
        left join t_company tc2 on tc.cust_id = tc2.id
        left join t_opportunity_property top on (top.status = '1' and tc.code = top.opportunity_code)
        left join remote_db.sys_dept sd on tc.dept_id = sd.dept_id
        left join remote_db.sys_user su on su.user_id = tc.owner_id
    </sql>

    <select id="queryProperties" parameterType="String" resultMap="com.highgo.crm.mapper.OpportunityPropertyMapper.OpportunityPropertyResult">
        <include refid="selectOpportunityPropertyVo"/>
        where opportunity_code = #{code}
    </select>
    <select id="selectOpportunityList" parameterType="Opportunity" resultMap="OpportunityUnitedResult">
<!--        <include refid="selectOpportunityVo"/>-->
        <include refid="select4OpportunityUnitedVo"/>
        <where>
            <if test="code != null  and code != ''">and tc.code like concat('%', #{code}, '%')</if>
            <if test="name != null  and name != ''">and tc.name like concat('%', #{name}, '%')</if>
            <if test="createBy != null  and createBy != ''">and tc.create_by like concat('%', #{createBy}, '%')</if>
            <if test="updateTime != null ">and tc.update_time &lt; #{updateTime}</if>
            <!--下面的是商机必须已经设置过的属性-->
            <if test="params.properties != null and params.properties != ''">and find_in_set(top.property_key,#{params.properties})</if>
            ${params.crmDataScope}
            <!--下面的时共享过来的判读-->
            <if test="params.sharedId != null and params.sharedId != ''"> or find_in_set( #{sharedId} , tc.shared_id)</if>
            <if test="params.sharedDeptId != null and params.sharedDeptId != ''"> or find_in_set( #{sharedDeptId} , tc.shared_dept_id)</if>
        </where>
        group by tc.code
    </select>

    <select id="selectOpportunityById" parameterType="Long" resultMap="OpportunityUnitedResult">
        <include refid="selectOpportunityVo"/>
        where id = #{id}
    </select>

    <insert id="insertOpportunity" parameterType="Opportunity">
        insert into t_opportunity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="custId != null">cust_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="sharedId != null">shared_id,</if>
            <if test="sharedDeptId != null">shared_dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="custId != null">#{custId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="sharedId != null">#{sharedId},</if>
            <if test="sharedDeptId != null">#{sharedDeptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateOpportunity" parameterType="Opportunity">
        update t_opportunity
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="custId != null">cust_id = #{custId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="sharedId != null">shared_id = #{sharedId},</if>
            <if test="sharedDeptId != null">shared_dept_id = #{sharedDeptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOpportunityById" parameterType="Long">
        delete
        from t_opportunity
        where id = #{id}
    </delete>

    <delete id="deleteOpportunityByIds" parameterType="String">
        delete from t_opportunity where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryOpportunityInfoByCode" parameterType="String" resultMap="OpportunityUnitedResult">
        <include refid="selectOpportunityVo"/>
        where code = #{code}
    </select>
    <sql id="selectOpportunitySoftwareOperationVo">
        select id, opportunity_code, application_id, application_name, isv_need_adapted, target_adapted_progress, current_adapted_progress, operational_id, operational_name, create_by, create_time, update_by, update_time, remark from t_opportunity_software_operation
    </sql>
    <select id="querySoftwareOperationByCode" parameterType="String"
            resultMap="com.highgo.crm.mapper.OpportunitySoftwareOperationMapper.OpportunitySoftwareOperationResult">
        <include refid="selectOpportunitySoftwareOperationVo"/>
        where opportunity_code = #{code}
    </select>
    <select id="queryCompanyByOppCode" parameterType="String" resultMap="com.highgo.crm.mapper.CompanyMapper.CompanyResult">
        select tc.* from t_company tc ,t_opportunity to2
        where tc.id = to2.cust_id and to2 .code = #{oppCode}
    </select>
    <select id="queryPolicyByOppCode" parameterType="String" resultMap="com.highgo.crm.mapper.OpportunityPolicyMapper.OpportunityPolicyResult">
        select opportunity_code, policy_id, policy_name, release_date from t_opportunity_policy
        where opportunity_code = #{oppCode}
    </select>
    <select id="queryAdvanceByOppCode" parameterType="String" resultMap="com.highgo.crm.mapper.OpportunityAdvancesMapper.OpportunityAdvancesResult">
        select id, opportunity_code, stage, advances, advances_date, creator, create_time from t_opportunity_advances
        where opportunity_code = #{oppCode}
        order by create_time desc,advances_date desc
    </select>
    <select id="queryCostByOppCode" parameterType="String" resultMap="com.highgo.crm.mapper.OpportunityCostMapper.OpportunityCostResult">
        select id, opportunity_code, cost, input_user_id, use_time, reason, create_time, creator_id, operator_id, update_time from t_opportunity_cost
        where opportunity_code = #{oppCode}
        order by create_time desc,update_time desc
    </select>
   <select id="queryCompetitorByOppCode" parameterType="String" resultMap="com.highgo.crm.mapper.OpportunityCompetitorMapper.OpportunityCompetitorResult">
       select id, opportunity_code, competitor_id, competitor_name, product, unit_price, advantage, has_same_advantage, memo, tender_price, create_time, update_time from t_opportunity_competitor
        where opportunity_code = #{oppCode}
        order by create_time desc,update_time desc
    </select>

</mapper>