<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.message.mapper.SMSRecordEntityMapper">
    
    <resultMap type="SMSRecordEntity" id="SMSRecordEntityResult">
        <result property="id"    column="id"    />
        <result property="templateCode"    column="template_code"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="templateParam"    column="template_param"    />
        <result property="value"    column="sms_value"    />
        <result property="cacheKey"    column="cache_key"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="responseJson"    column="response_json"    />
    </resultMap>

    <sql id="selectSMSRecordEntityVo">
        select id, template_code, phone_number, template_param, sms_value, cache_key, create_by, create_time, response_json from sms_record
    </sql>

    <select id="selectSMSRecordEntityList" parameterType="SMSRecordEntity" resultMap="SMSRecordEntityResult">
        <include refid="selectSMSRecordEntityVo"/>
        <where>  
            <if test="templateCode != null  and templateCode != ''"> and template_code = #{templateCode}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number like concat('%', #{phoneNumber}, '%')</if>
        </where>
    </select>
    
    <select id="selectSMSRecordEntityById" parameterType="Long" resultMap="SMSRecordEntityResult">
        <include refid="selectSMSRecordEntityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSMSRecordEntity" parameterType="SMSRecordEntity" useGeneratedKeys="true" keyProperty="id">
        insert into sms_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateCode != null and templateCode != ''">template_code,</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
            <if test="templateParam != null">template_param,</if>
            <if test="value != null and value != ''">sms_value,</if>
            <if test="cacheKey != null and cacheKey != ''">cache_key,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="responseJson != null">response_json,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateCode != null and templateCode != ''">#{templateCode},</if>
            <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
            <if test="templateParam != null">#{templateParam},</if>
            <if test="value != null and value != ''">#{value},</if>
            <if test="cacheKey != null and cacheKey != ''">#{cacheKey},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="responseJson != null">#{responseJson},</if>
         </trim>
    </insert>

    <update id="updateSMSRecordEntity" parameterType="SMSRecordEntity">
        update sms_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateCode != null and templateCode != ''">template_code = #{templateCode},</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="templateParam != null">template_param = #{templateParam},</if>
            <if test="value != null and value != ''">sms_value = #{value},</if>
            <if test="cacheKey != null and cacheKey != ''">cache_key = #{cacheKey},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="responseJson != null">response_json = #{responseJson},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSMSRecordEntityById" parameterType="Long">
        delete from sms_record where id = #{id}
    </delete>

    <delete id="deleteSMSRecordEntityByIds" parameterType="String">
        delete from sms_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>