<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.crm.mapper.OpportunitySupportMapper">

    <resultMap type="OpportunitySupport" id="OpportunitySupportResult">
        <result property="id"    column="id"    />
        <result property="opportunityCode"    column="opportunity_code"    />
        <result property="opportunityStage"    column="opportunity_stage"    />
        <result property="supportId"    column="support_id"    />
        <result property="supportName"    column="support_name"    />
        <result property="supportVal"    column="support_val"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectOpportunitySupportVo">
        select id, opportunity_code, opportunity_stage, support_id, support_name, support_val, create_by, create_time, update_by, update_time, remark from t_opportunity_support
    </sql>

    <select id="selectOpportunitySupportList" parameterType="OpportunitySupport" resultMap="OpportunitySupportResult">
        <include refid="selectOpportunitySupportVo"/>
        <where>
            <if test="opportunityCode != null  and opportunityCode != ''"> and opportunity_code = #{opportunityCode}</if>
            <if test="supportName != null  and supportName != ''"> and support_name like concat('%', #{supportName}, '%')</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
    </select>

    <select id="selectOpportunitySupportById" parameterType="Long" resultMap="OpportunitySupportResult">
        <include refid="selectOpportunitySupportVo"/>
        where id = #{id}
    </select>

    <insert id="insertOpportunitySupport" parameterType="OpportunitySupport">
        insert into t_opportunity_support
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="opportunityCode != null">opportunity_code,</if>
            <if test="opportunityStage != null">opportunity_stage,</if>
            <if test="supportId != null">support_id,</if>
            <if test="supportName != null">support_name,</if>
            <if test="supportVal != null">support_val,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="opportunityCode != null">#{opportunityCode},</if>
            <if test="opportunityStage != null">#{opportunityStage},</if>
            <if test="supportId != null">#{supportId},</if>
            <if test="supportName != null">#{supportName},</if>
            <if test="supportVal != null">#{supportVal},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateOpportunitySupport" parameterType="OpportunitySupport">
        update t_opportunity_support
        <trim prefix="SET" suffixOverrides=",">
            <if test="opportunityCode != null">opportunity_code = #{opportunityCode},</if>
            <if test="opportunityStage != null">opportunity_stage = #{opportunityStage},</if>
            <if test="supportId != null">support_id = #{supportId},</if>
            <if test="supportName != null">support_name = #{supportName},</if>
            <if test="supportVal != null">support_val = #{supportVal},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOpportunitySupportById" parameterType="Long">
        delete from t_opportunity_support where id = #{id}
    </delete>

    <delete id="deleteOpportunitySupportByIds" parameterType="String">
        delete from t_opportunity_support where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>