<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.medium.mapper.MediumSecurityInfoMapper">
    
    <resultMap type="MediumSecurityInfo" id="MediumSecurityInfoResult">
        <result property="id"    column="id"    />
        <result property="mediumId"    column="medium_id"    />
        <result property="securityName"    column="security_name"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileId"    column="file_id"    />
        <result property="md5FileId"    column="md5_file_id"    />
        <result property="status"    column="status"    />
        <result property="createId"    column="create_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMediumSecurityInfoVo">
        select id, medium_id,security_name, file_type, file_id, md5_file_id, status, create_id, create_by, create_time, update_id, update_by, update_time, remark from t_medium_security_info
    </sql>

    <select id="selectMediumSecurityInfoList" parameterType="MediumSecurityInfo" resultMap="MediumSecurityInfoResult">
        <include refid="selectMediumSecurityInfoVo"/>
        <where>  
            <if test="mediumId != null "> and medium_id = #{mediumId}</if>
            <if test="securityName != null  and securityName != ''"> and security_name = #{securityName}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="createTime != null "> and create_time &lt;= #{createTime}</if>
        </where>
    </select>
    
    <select id="selectMediumSecurityInfoById" parameterType="Long" resultMap="MediumSecurityInfoResult">
        <include refid="selectMediumSecurityInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMediumSecurityInfo" parameterType="MediumSecurityInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_medium_security_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mediumId != null">medium_id,</if>
            <if test="securityName != null">security_name,</if>
            <if test="fileType != null">file_type,</if>
            <if test="fileId != null">file_id,</if>
            <if test="md5FileId != null">md5_file_id,</if>
            <if test="status != null">status,</if>
            <if test="createId != null">create_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mediumId != null">#{mediumId},</if>
            <if test="securityName != null">#{securityName},</if>
            <if test="fileType != null">#{fileType},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="md5FileId != null">#{md5FileId},</if>
            <if test="status != null">#{status},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMediumSecurityInfo" parameterType="MediumSecurityInfo">
        update t_medium_security_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="mediumId != null">medium_id = #{mediumId},</if>
            <if test="securityName != null">security_name = #{securityName},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="md5FileId != null">md5_file_id = #{md5FileId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMediumSecurityInfoById" parameterType="Long">
        delete from t_medium_security_info where id = #{id}
    </delete>

    <delete id="deleteMediumSecurityInfoByIds" parameterType="String">
        delete from t_medium_security_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>